@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;

    --color-white: hsl(0, 0%, 100%);
    --color-darkblue: hsl(195, 91%, 25%);
    --color-whiteback: hsl(196, 100%, 98%);
    --color-lightblack: hsl(240, 5%, 7%);
    --color-dark500: hsl(240, 6%, 13%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-whiteback);
}

.app {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "sidebar"
    "footer";

    grid-template-rows: 8rem auto auto 8rem;
}

/* HEADER */
header {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;

    color: var(--color-white);
    background-color: var(--color-darkblue);
    padding: 1.2rem 2.8rem;
    
    grid-area: header;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    min-width: 55px;
    min-height: 55px;
    border-radius: 50%;

    grid-area: logo;
}

.logo img {
    width: 32px;
}

input#searchbar {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;

    color: var(--color-white);

    width: 50vw;

    background-color: rgba(255, 255, 255, 0.20);

    padding: 1.2rem;
    border-radius: .6rem;
    border: none;
}

input::placeholder {
    opacity: .6;
    color: var(--color-white);
}

form label {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

img#photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* MAIN */
main {
    grid-area: main;
}

main, section.sidebar {
    max-width: 600px;
    margin: 0 auto;
}

img#banner {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
}

.content {
    padding: 2.2rem;
}

.content h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;

    margin-bottom: .8rem;
}

.content p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;

    margin-top: 2rem;
}

.reaction-wrapper {
    display: flex;
    gap: 1.2rem;

    margin: 10px;
}

.reaction {
    display: flex;
    padding: 1.2rem;
    background-color: var(--color-darkblue);
    height: 4rem;
    border-radius: 50%;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    background-color: var(--color-darkblue);
}