@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;

    --color-white: hsl(0, 0%, 100%);
    --color-darkblue: hsl(195, 91%, 25%);
    --color-whiteback: hsl(196, 100%, 98%);
    --color-lightblack: hsl(240, 5%, 7%);
    --color-dark500: hsl(240, 6%, 13%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

.app {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "sidebar"
    "footer";

    grid-template-rows: 8rem 80vh 80vh 8rem;
}

header {
    color: var(--color-white);
    background-color: var(--color-darkblue);
    grid-area: header;
}

main, .sidebar {
    background-color: var(--color-whiteback);
}
main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    background-color: var(--color-darkblue);
}